In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import html5lib

In [24]:
data = pd.read_csv('pessoal.csv', delimiter=";", encoding ='latin1')
data.sample(5)

,Cargo,Servidores,Salário Base,Vencimentos Totais,Descontos,Líquido
19,Diretor D. E. e Projetos,1.0,"R$ 4.134,79","R$ 4.504,91","R$ 655,45","R$ 3.849,46"
16,Conselheiro Tutelar,5.0,"R$ 7.012,55","R$ 8.960,53","R$ 1.216,72","R$ 7.743,81"
28,Engenheiro Civil,1.0,"R$ 4.612,83","R$ 8.563,04","R$ 4.445,97","R$ 4.117,07"
6,Agente de Serviços Gerais,12.0,"R$ 19.481,40","R$ 31.644,75","R$ 10.650,76","R$ 20.993,99"
32,Inativo,45.0,"R$ 208.735,30","R$ 206.691,72","R$ 33.375,48","R$ 173.316,24"

In [6]:
#data = data.drop(columns=['Descontos'])

In [22]:
dic = data.to_dict('records')
string = json.dumps(dic, ensure_ascii=False)
f = open("out.json", "w")
f.write(string)
f.close()

In [8]:
url = "https://www.w3schools.com/html/html_tables.asp"
pd.read_html(url)

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]