In [2]:
import tabula
import pandas as pd
from pandas import DataFrame

In [18]:
dataFrame: DataFrame 
dataFrame = tabula.read_pdf("C:/Users/mz_ma/Documents/Projetos/cc/CityLivingLab/exemplos/DashboardCOREDE.pdf", pages='all')
len(dataFrame)

61

In [19]:
serie = dataFrame[38].copy()
#serie = serie.drop('Unnamed: 0', axis=1)
serie.columns
torf = str.__contains__(str(serie.columns), 'Dimensão')
torf

False

In [23]:
#serie[[0,1]] = serie['Indicador Unidade'].str.split('..', expand=True)

def RepeatRows(dataFrame: DataFrame, columnName:str):
    z = 0
    while z < len(dataFrame):
        serie = dataFrame[z]
        #print(z)
        # torf = str.__contains__(str(serie.columns), 'Município')
        # if len(serie) <= 7 and not torf:
        #     z += 1
        #     continue
        torf = str.__contains__(str(serie.columns), columnName)
        if z >= 1 and z <= 37 or not torf:
            z += 1
            continue
        listCels:list = []
        celName = ''
        count = 0

        for cel in serie[columnName]:
            if not pd.isna(cel):
                if len(celName) > 0:
                    celName = f'{celName} {cel}'
                else:
                    celName = cel
            else:
                if celName != '':
                    n = len(listCels)
                    if n > 0:
                        listCels[n-1][1] = count        
                        count = 0
                    listCels.append([celName, count])
                    celName = ''

            count += 1
        if len(listCels) >= 1:
            listCels[len(listCels)-1][1] = count

        listColumns = []
        for cel in listCels:
            for i in range(0,cel[1]):
                listColumns.append(cel[0])

        serie.update({columnName:listColumns})
        z += 1

len(serie)
serie.columns

Index(['Município', 'iDnimtaenngsíãvoel',
       'INnúdmicaedror de ent.. OUnNidGad/emil Habitantes', 'Unnamed: 0',
       'Valor', 'Valor Corede Serra', 'Valor Brasil', 'Valor Brasil 10%mel..'],
      dtype='object')

In [24]:
RepeatRows(dataFrame,'Município')
RepeatRows(dataFrame,'Dimensão')
dataFrame[39]

,Município,Dimensão,IMnduilchaedroers em a.. %Unidade,Unnamed: 0,Valor,Valor Corede Serra,Valor Brasil,Valor Brasil 10%mel..
0,Carlos Barbosa,Relacional,Número de div.. Divócios / mil Habitantes,NaN,"0,40","0,95","1,44","0,36"
1,Carlos Barbosa,Relacional,Percentual da f.. %,NaN,"0,44","0,45","0,00","0,52"
2,Carlos Barbosa,Relacional,Quantidade de.. Imigrantes / 10 mil Hab..,NaN,NaN,"91,91","39,11","83,77"
3,Carlos Barbosa,Relacional,Despesas mun.. R$ / Habitante,NaN,"50,02","58,80","48,74","215,60"
4,Caxias do Sul,Relacional,Despesas mun.. R$ / Habitante,NaN,"20,92","12,50","9,51","10,46"
...,...,...,...,...,...,...,...,...
66,Coronel Pilar,Humano coletivo,Despesas mun.. R$ / Habitante,NaN,"70,54","28,46","11,74","48,98"
67,Coronel Pilar,Humano coletivo,Despesas mun.. R$ / Habitante,NaN,"0,00","4,25","4,30","8,65"
68,Coronel Pilar,Humano individual,Despesas mun.. R$ / Habitante,NaN,"0,00","17,50","5,26","19,11"
69,Coronel Pilar,Humano individual,IDEB Rede púb.. Nota padronizada,NaN,"7,80","6,33","5,52","6,90"
70,Coronel Pilar,Humano individual,IFDM saúde Índice de 0 a 1,NaN,"0,97","0,94","0,81","0,91"

In [106]:
id = 0
for dd in dataFrame:
    if id > 0 and id < 38:
        id+=1
        continue
    dd.to_csv('out.csv', mode='a')
    id += 1

In [16]:
listCels:list = []
celName = ''
count = 0
mun = 'Município'
for cel in serie[mun]:
    if not pd.isna(cel):
        if len(celName) > 0:
            celName = f'{celName} {cel}'
        else:
            celName = cel
    else:
        if celName != '':
            n = len(listCels)
            if n > 0:
                listCels[n-1][1] = count        
                count = 0
            listCels.append([celName, count])
            celName = ''

    count += 1
listCels[len(listCels)-1][1] = count

listCels

[['Antônio Prado', 56], ['Bento Gonçalves', 15]]

In [10]:
index = 0
celid = 0
municipios = []
for cel in listCels:
    for i in range(0,cel[1]):
        municipios.append(cel[0])

serie.update({'Município':municipios})
serie

,Município,Dimensão,Indicador Unidade,Unnamed: 0,Valor,Valor Corede Serra,Valor Brasil,Valor Brasil 10%mel..
0,Antônio Prado,Humano,Despesas mun.. R$ / Habitante,NaN,"39,66","58,80","48,74","215,60"
1,Antônio Prado,coletivo,Despesas mun.. R$ / Habitante,NaN,"4,38","12,50","9,51","10,46"
2,Antônio Prado,NaN,Despesas mun.. R$ / Habitante,NaN,"0,00","105,99","52,47","163,03"
3,Antônio Prado,NaN,Despesas mun.. R$ / Habitante,NaN,"1.099,31","1.093,06","761,77","1.606,26"
4,Antônio Prado,NaN,IFDM educação Índice de 0 a 1,NaN,"0,82","0,85","0,79","0,91"
...,...,...,...,...,...,...,...,...
66,Bento Gonçalves,NaN,IDEB Rede púb.. Nota padronizada,NaN,"6,50","6,33","5,52","6,90"
67,Bento Gonçalves,NaN,IFDM saúde Índice de 0 a 1,NaN,"0,96","0,94","0,81","0,91"
68,Bento Gonçalves,NaN,Matriculas edu.. %,NaN,"0,19","0,18","0,00","0,19"
69,Bento Gonçalves,NaN,Mortalidade inf.. Óbitos infantis / 100 Na..,NaN,"0,71","1,00","1,22","0,69"
70,Bento Gonçalves,NaN,Percentual de .. %,NaN,"1,17","0,02","0,03","0,01"

In [132]:
listCels2:list = []
celName = ''
count = 0
dm = 'Dimensão'
for cel in serie[dm]:
    if not pd.isna(cel):
        if len(celName) > 0:
            celName = f'{celName} {cel}'
        else:
            celName = cel
    else:
        if celName != '':
            n = len(listCels2)
            if n > 0:
                listCels2[n-1][1] = count        
                count = 0
            listCels2.append([celName, count])
            celName = ''

    count += 1
listCels2[len(listCels2)-1][1] = count

listCels2

[['Humano coletivo', 11],
 ['Humano individual', 7],
 ['Identidade', 8],
 ['Instr. intangível', 9],
 ['Instr. tangível', 7],
 ['Inteligência', 6],
 ['Relacional', 8],
 ['Humano coletivo', 9],
 ['Humano individual', 6]]

In [133]:
index = 0
celid = 0
municipios = []
for cel in listCels2:
    for i in range(0,cel[1]+1):
        if i == 55: print(i)
        municipios.append(cel[0])

serie.update({dm:municipios})
serie

,Município,Dimensão,Indicador Unidade,Unnamed: 0,Valor,Valor Corede Serra,Valor Brasil,Valor Brasil 10%mel..
0,Antônio Prado,Humano coletivo,Despesas mun.. R$ / Habitante,NaN,"39,66","58,80","48,74","215,60"
1,NaN,Humano coletivo,Despesas mun.. R$ / Habitante,NaN,"4,38","12,50","9,51","10,46"
2,NaN,Humano coletivo,Despesas mun.. R$ / Habitante,NaN,"0,00","105,99","52,47","163,03"
3,NaN,Humano coletivo,Despesas mun.. R$ / Habitante,NaN,"1.099,31","1.093,06","761,77","1.606,26"
4,NaN,Humano coletivo,IFDM educação Índice de 0 a 1,NaN,"0,82","0,85","0,79","0,91"
...,...,...,...,...,...,...,...,...
66,NaN,Humano coletivo,IDEB Rede púb.. Nota padronizada,NaN,"6,50","6,33","5,52","6,90"
67,NaN,Humano coletivo,IFDM saúde Índice de 0 a 1,NaN,"0,96","0,94","0,81","0,91"
68,NaN,Humano coletivo,Matriculas edu.. %,NaN,"0,19","0,18","0,00","0,19"
69,NaN,Humano coletivo,Mortalidade inf.. Óbitos infantis / 100 Na..,NaN,"0,71","1,00","1,22","0,69"
70,NaN,Humano coletivo,Percentual de .. %,NaN,"1,17","0,02","0,03","0,01"